APP_NAME=SentraDesa
APP_ENV=production
APP_KEY=base64:CzAIOorJpajbUKpjG0DKzhQ8+AnwQWOT5bWOdDQ5FXw=
APP_DEBUG=false
APP_URL=https://sentradesa.id

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sentra_desa_db
DB_USERNAME=sentrades26
DB_PASSWORD="picsi9090#"

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=redis
CACHE_DRIVER=redis

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=isi_email
MAIL_PASSWORD=isi_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=admin@sentradesa.id
MAIL_FROM_NAME="Sentra Desa"

DB_SOCKET=/var/run/mysqld/mysqld.sock
